/*Fonts-Start*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); /*Archivo Narrow*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*Roboto*/
/*Fonts-End*/

* {
    margin: 0;
    padding: 0;
}

/*Gerneral-Layout-Start*/
body { 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    flex: 85%;
    background-color: #1e2022;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.results,
.game {
    flex: 1;
    width: 55%;
}

.game {
    display: flex;
    justify-content: space-around;
}

footer {
    flex: 5%;
}
/*General-Layout-End*/

.header,
.header .inner,
footer {
    background-color: #181a1b;
}

/*Header*/
.header .inner {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.inner h1 {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgb(215, 169, 96);
    font-size: 36px;
}

/*Main*/
.results {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.results .cards {
    flex: 1;
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.results .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .score {
    color: rgb(215, 169, 96);
    font-family: "Roboto", sans-serif;
}

.card .score,
.card span {
    font-size: 80px;
}

.card img {
    width: 128px;
    height: auto;
}


.text {
    text-align: center;
    color: #ddd;
    font-family: 'Roboto', sans-serif;
    opacity: .85;
}

.text h2 {
    font-size: 28px;
}
.text h3 {
    font-size: 18px;
}


button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

button img {
    height: 210px;
    width: auto;
}
